.figure-div {
    text-align: center;
}
figure {
    display: inline-block;
    margin-bottom: -20;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

.formula {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle {
    margin-left: 1rem;
    margin-right: 1rem;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
    color: $primary-color;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: mix(#000, $primary-color, 25%);
    }
}
